/*styles.css*/
.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	background-image: url('whitey.png');
	background-repeat: repeat;
}

h1 {
	font-family: 'Cabin', sans-serif;
    font-size: 2.5em;
    /*color: #585C60;*/
	color: white;
}

a {
	text-decoration: none;
}

#header {
	position: relative;
	min-height: 47%;
	height: 47%;
	width: 100%;
	
	background-image: url('header.png');
	/*border-bottom: .4em solid gray;*/
	box-shadow: 1px 1px 6px #aaa;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

#header #toolbar{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10px;
	background-color: gray;
}

/*#toolbar{
    width: 20em;
    margin-left: 2%;
    margin-top: 2em;
}

#toolbar .button{
    width: 33.3%;
    float: left;
}

#toolbar .button a {
    display: inline-block;
    padding: 12px 16px;
    background-color: #F1F2F3;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #aaa;
    font-weight: bold;
    color: #888888;
    cursor: pointer;    
	
	font-family: 'Cabin', sans-serif;
    text-align: center;
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#toolbar .button a:hover {
    background-color: #0174C6;
    color: #ffffff;
}

#toolbar .button.UC a:hover {
    background-color: #E61036;
    color: #ffffff;
}*/

#toolpicContainer {
	float: right;
	padding-right: 2em;
	padding-top: 2em;
	/*padding-right: 15%;*/
}

.toolpic {
	position: relative;
	width: 10em;
	height: 14em;
	display: inline-block;
	margin-left: 1em;
	
	/*border: .1em solid gray;*/
	box-shadow: 1px 1px 6px #aaa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.toolpic img {
	width: 100%;
	height: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.toolpic h2 {
	position: absolute;
	bottom: 0px;
	padding: 1px 1px;
	background-color: gray;
	width: 100%;
	text-align: center;
	
	font-family: 'Cabin', sans-serif;
    font-size: 2em;
    color: #585C60;
	
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-o-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.toolpic:hover  h2{
	font-size: 2.5em;
}

.button:active {
	position: relative;
    top: 0.25em;
}

#toolbar .button a:active {
    box-shadow: inset 0px 0px 6px #000000;        
}
