/*about.css*/
#aboutView {
	background: url('cream_dust.png');
	padding: 10px;
	min-height: 230px; /*bioPic height+20*/
	max-width: 620px;
	font-family: 'Lato', sans-serif;
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

#bioPic {
	height: 210px;
	border-radius: 3px;
	float: left;
	margin-right: 2%;
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

#bioTitle {
	font-size: 20pt;
	margin-bottom: 3px;
	color: #005999;
}

#bio {
	max-width: 600px;
}

#aboutView .contact {
	margin-top: 10px;
}

#aboutView .contact a {
	text-decoration: none;
	color: #0174C6;
}

#aboutView .contact a:active {
	position: relative;
	top: 1px;
}

