/*styles.css*/
.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    cursor: pointer;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	
	/*background: #2989d8;
	background: -moz-radial-gradient(center, ellipse cover,  #2989d8 3%, #011c2f 77%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(3%,#2989d8), color-stop(77%,#011c2f)); /* Chrome,Safari4+ 
	background: -webkit-radial-gradient(center, ellipse cover,  #2989d8 3%,#011c2f 77%); /* Chrome10+,Safari5.1+ 
	background: -o-radial-gradient(center, ellipse cover,  #2989d8 3%,#011c2f 77%); /* Opera 12+ 
	background: -ms-radial-gradient(center, ellipse cover,  #2989d8 3%,#011c2f 77%); /* IE10+ 
	background: radial-gradient(ellipse at center,  #2989d8 3%,#011c2f 77%); /* W3C 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#011c2f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient 
	*/
	
	background: url('furley_bg.png') no-repeat center center fixed;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

h1 {
	font-family: 'Cabin', sans-serif;
    font-size: 2.5em;
    color: rgb(16,47,78);
	
	text-shadow:0 -0.5px 0 rgba(0, 0, 0, 0.8), /* shadow */
				0 1px 0 rgba(255, 255, 255, 0.5); /* highlight */
}

a {
	text-decoration: none;
}

#headerBack {
	position: absolute;
	top: 25%;
	width: 100%;
	padding: 10px 0;
	
	/*background-image: url('frost3.png');
	-webkit-box-shadow: 0 4px 12px #000;
	-moz-box-shadow: 0 4px 12px #000;
	-o-box-shadow: 0 4px 12px #000;
	box-shadow: 0 4px 12px #000;*/
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

#header {
	position: relative;
	max-width:100em;
	width: 62%;
	min-width: 30em;
	margin: auto;
	color: rgb(16,47,130);
}

#toolbar{
    width: 20em;
	float: right;
}

#toolbar .button {
	margin-right: 5px;
}

.button {
    width: 33.3%;
    float: left;
}

.button {
    display: inline-block;
    padding: 10px 5px;
    background-color: #F1F2F3;
    border-radius: 3px;
    box-shadow: 1px 1px 6px #aaa;
    font-weight: bold;
    color: #888888;
    cursor: pointer;

	font-family: 'Cabin', sans-serif;
    text-align: center;

	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.button:hover {
    background-color: #0174C6;
    color: #ffffff;
}

.button.UC:hover {
    background-color: #E61036;
    color: #ffffff;
}

.button:active {
    position: relative;
    top: 1px;
    box-shadow: inset 0px 0px 6px #000000;
}

.view {
	top: 91px; /*changes dependent on headerBack's children*/
	width: 100%;
	height: 100%;
	position: relative;
	display: none;
	overflow: auto;
	/*background-color: #ffffff;
	background: url('lightpaperfibers.png');*/
}
