/*styles.css*/
*.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Cabin', sans-serif;
	color: #111111;
  
	background: url('cream_dust.png');
}

a {
	text-decoration: none;
}

#logo {
	font-family: 'Cabin', sans-serif;
  font-size: 2.5em;
	font-weight: 600;
  color: #0063AB;
	
	text-shadow:0 -0.5px 0 rgba(0, 0, 0, 0.8), /* shadow */
				0 1px 0 rgba(255, 255, 255, 0.5); /* highlight */
}

.button {
    width: 100px;
    display: inline-block;
    padding: 10px 12px;
    background-color: #F1F2F3;
    border-radius: 3px;
    box-shadow: 1px 1px 6px #aaa;
    color: #0063AB;
	
    text-align: center;
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.button:hover {
    background-color: #0063AB;
    color: #F1F2F3;
	
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.currViewButton {
	box-shadow: inset 0px 0px 6px #444;
	background-color: #0063AB;
    color: #ffffff;
	
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.view {
	width: 100%;
  padding: 20px;
  box-shadow: 0px 10px 6px -3px #aaa;
	
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

